/* Resetting default browser styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0e0f0e;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0e0f0e; /* Green header background */
  color: #fff; /* White text color */
  padding: 20px 0;
  z-index: 1000; /* Ensure header stays above other content */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #f0f0f0;
}

.navs li a:hover {
  color: #48da0e; /* Lighter text color on hover */
}

/* Main Content styles */
.Events {
  max-width: 800px;
  margin: 10px auto 0;
  padding-top: 5%;
}

/* Footer styles */
footer {
  background-color: #0e0f0e;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h2 {
  color: white;
  text-align: center; /* Center the h2 text */
  margin-bottom: 20px; /* Add some space below the h2 */
  display: block;
  padding: 20px;
}

/* Image slider styles */
main {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0e0f0e;
  padding: 20px;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
  /* Display the slides */
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
}

.Attractions {
  padding: 0%;
}
